{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" type="image/png" href="http://res.cloudinary.com/discuss/image/upload/v1515422358/favicon_isr0ue.png"/>
        <script src="https://use.fontawesome.com/19fb39091d.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Oxygen|Quicksand" rel="stylesheet">

        {% block head_extra %} {% endblock head_extra %}

    </head>
    <body>


    <!-- NAVBAR -->

    {% block nav %}

        <nav>
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>LastMile</a>
              <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons">search</i></a></li>
                <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
                <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
                <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
              </ul>
            </div>
        </nav>

    {% endblock nav %}

    <!-- END NAVBAR -->




    <!-- CONTENT -->

    {% block content %} {% endblock content %}

    <!-- END CONTENT -->