{% extends 'lastMileApp/base.html' %}

{% load static %}



{% block content %}
<div class="row center">
    <h5>Congratulations! You have successfully claimed your tickets :)</h5>
    <p>You can get more info below</p>
</div>

<div class="row">
    <div class="col s12 m4">
        <div class="card" id="rescheduleTicket">
            <div class="card-content">
                <div class="card-title">
                    <div class="row">
                        <div class="col m3">
                            <img src="/static/images/logo.svg" height="80px" width="60px" style="margin-top: -25px;">
                        </div>
                        <div class="col m4"></div>
                        <div class="col m2" style="font-size:20px; letter-spacing: 1.5px; margin-top: -10px; font-family: Quicksand;">
                            <b>GATE</b> <br />
                            D5
                        </div>
                        <div class="col m3" style="font-size:20px; letter-spacing: 1.5px; margin-top: -10px; font-family: Quicksand;">
                            <b>FLIGHT</b> <br />
                            AA2203
                        </div>
                    </div>

                    <div class="row" style="margin-top: 35px;">
                        <div class="col m3" style="font-family: Quicksand; font-weight: 700; font-size: 50px; letter-spacing: 3.5px;">
                            LAX
                        </div>
                        <div class="col m1"></div>
                        <div class="col m3">
                            <img src="/static/images/plane.svg" height="50px" width="70px" style="margin-top: -10px; margin-left: 20px;">
                        </div>
                        <div class="col m2"></div>
                        <div class="col m3" style="font-family: Quicksand; font-weight: 700; font-size: 50px; letter-spacing: 3.5px; margin-left: -10px">
                            LAS
                        </div>
                    </div>

                    <div class="row" style="margin-top: 35px; font-size: 20px;">
                        <div class="col m4">
                            <b>SEAT</b> <br />
                            <span style="font-family: Oxygen; font-size: 17px;">16D</span>
                        </div>
                        <div class="col m4" style="margin-left: 20px;">
                            <b>STATUS</b> <br />
                            <span style="font-family: Oxygen; font-size: 17px;">ON TIME</span>
                        </div>
                        <div class="col m3" style="margin-left: 6px;">
                            <b>DEPARTS</b> <br />
                            <span style="font-family: Oxygen; font-size: 17px;">4:30 PM</span>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 20px; font-size: 25px;">
                        <div class="col m12">
                            DWIVEDI/SHREYANSH
                        </div>
                    </div>
                    <br />
                    <div class="row center">
                        <img src="/static/images/qr-code.svg" height="110px" width="110px">
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="col s12 m4">
        <div class="card" id="rescheduleTicket">
            <div class="card-content">
                <div class="card-title">
                    <div class="row">
                        <div class="col m3">
                            <img src="/static/images/logo.svg" height="80px" width="60px" style="margin-top: -25px;">
                        </div>
                        <div class="col m3">
                        </div>
                        <div class="col m2" style="font-size:20px; letter-spacing: 1.5px; margin-top: -10px; font-family: Quicksand; margin-left: 15px; font-weight: 700; color: #D80212;">
                            <b>MEAL</b>
                        </div>
                        <div class="col m3" style="font-size:20px; letter-spacing: 1.5px; margin-top: -10px; font-family: Quicksand; font-weight: 700; color: #D80212;">
                            <b>VOUCHER</b>
                        </div>
                    </div>

                    <div class="row" style="background-image: url('/static/images/food.svg'); background-size: cover; background-repeat: no-repeat;">
                        <div class="col m12 center" style="margin-top: 10px;">
                            <span style="font-family: Quicksand; font-weight: 700; font-size: 27px;">DWIVEDI/SHREYANSH</span>
                            <br />
                            <p style=" padding-bottom: 15px;"></p>
                            <span style="font-family: Oxygen; font-weight: 700; font-size: 15px; color:rgb(43, 39, 39); letter-spacing: 1.5px;">Authorized
                                Outlets / Concourse</span>
                            <br />
                        </div>
                    </div>

                    <div class="row center" style="margin-top: 35px; font-size: 16px; font-family: Oxygen; font-weight: 700; letter-spacing: 1.25px;">
                        ARABIC - SHAWARMA / C <br />
                        ARABIC - WAFI GOURMET / A <br />
                        BUFFET - THE MEZZANINE / A <br />
                        CAFE - COSTA / A/B/C <br />
                        FRENCH - LEPAIN
                    </div>

                    <div class="row center" style="margin-top: 30px; font-size: 15px; line-height: 20px;">
                        <div class="col m12">
                            <span style="color: rgb(167, 20, 29); font-weight: 700; letter-spacing: 1.01px;">Non-transferrable
                                . Non-Refundable</span><br />
                            <span style="color: white;">
                                Valid in exchange for food and beverages. <br />
                                Exclude Alcoholic Beverages
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="col s12 m4">
        <div class="card" id="rescheduleTicket">
            <div class="card-content">
                <div class="card-title">
                    <div class="row">
                        <div class="col m3">
                            <img src="/static/images/logo.svg" height="80px" width="60px" style="margin-top: -25px;">
                        </div>
                        <div class="col m3">
                        </div>
                        <div class="col m2" style="font-size:20px; letter-spacing: 1.5px; margin-top: -10px; font-family: Quicksand; margin-left: 15px; font-weight: 700; color: #D80212;">
                            <b>TAXI</b>
                        </div>
                        <div class="col m3" style="font-size:20px; letter-spacing: 1.5px; margin-top: -10px; margin-left: -10px; font-family: Quicksand; font-weight: 700; color: #D80212;">
                            <b>VOUCHER</b>
                        </div>
                    </div>

                    <div class="row" style="background-image: url('/static/images/cab.svg'); background-size: cover; background-repeat: no-repeat;">
                        <div class="col m12 center" style="margin-top: 10px;">
                            <span style="font-family: Quicksand; font-weight: 700; font-size: 15px; color: rgb(83, 83, 83)">Driver
                                Details</span>
                            <br />
                            <img src="/static/images/driver.svg" height="100px" width="100px">
                        </div>
                    </div>

                    <div class="row" style="margin-top: 5px; letter-spacing: 1.25px; line-height: 20px; margin-left: 125px;">
                        <div>
                            <span style="font-size: 12px; font-family: Oxygen;">Name</span>
                            <br />
                            <span style="font-size: 20px; font-weight: 700; font-family: Quicksand; color: rgb(167, 20, 29);">DOE
                                / JOHN</span>
                        </div>
                        <div>
                            <span style="font-size: 12px; font-family: Oxygen;">Contact</span>
                            <br />
                            <span style="font-size: 20px; font-weight: 700; font-family: Quicksand; color: rgb(167, 20, 29);">
                                7080397532</span>
                        </div>
                        <div>
                            <span style="font-size: 12px; font-family: Oxygen;">Type</span>
                            <br />
                            <span style="font-size: 20px; font-weight: 700; font-family: Quicksand; color: rgb(167, 20, 29);">
                                SUV</span>
                        </div>
                        <div>
                            <span style="font-size: 12px; font-family: Oxygen;">Number Plate</span>
                            <br />
                            <span style="font-size: 20px; font-weight: 700; font-family: Quicksand; color: rgb(167, 20, 29);">
                                MH-08 5579</span>
                        </div>
                    </div>

                    <div class="row center" style="margin-top: 10px; font-size: 15px; line-height: 20px;">
                        <div class="col m12">
                            <span style="color: white; letter-spacing: 1.01px;">
                                Valid for distance upto 40 miles
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}